@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", cursive;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.container_categories {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}
.container_categories_content {
  margin-left: 0.5rem;
  margin: 0;
}
.container_categories_content_item {
  margin: 0 0.3rem;
}
.container_categories_content p {
  margin: 0 0.3rem;
}
.container_categories_form {
  margin-right: auto;
  margin-bottom: auto;
  padding-bottom: 0.5rem;
}
.container_categories_form_activated {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 5rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
  cursor: pointer;
}
.container_categories_form_deactivated {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 5rem;
  padding: 1rem;
  box-shadow: rgba(53, 53, 53, 0.8) 0px 5px 15px;
  text-decoration: none;
  cursor: pointer;
}
.container_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: auto;
}
.container_menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 10rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
}
.container_menu_button:first-child {
  margin-left: auto;
}
.container_menu_button:last-child {
  margin-left: auto;
}
.container_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: auto;
}
.container_register label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0.5rem;
}
.container_register_categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.container_register_categories_label {
  margin: 1rem;
}
.container_errors {
  color: white;
  margin: auto;
}
.container_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: white;
}
.container_content_box {
  width: 75vw;
  margin-bottom: auto;
}
.container_content_post-link {
  all: unset;
  color: white;
  cursor: pointer;
}
.container_content_post-link_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin: 3px;
  box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust the number of columns as needed */
  grid-column-gap: 5px; /* Adjust the gap between columns as needed */
  align-items: center;
}
.container_content_post-link_container_activated {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin: 3px;
  box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px, inset rgb(16, 126, 21) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust the number of columns as needed */
  grid-column-gap: 5px; /* Adjust the gap between columns as needed */
  align-items: center;
}
.container_content_post-link_container span {
  margin: 0 5px;
  word-break: break-word;
}

.container_login {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
}
.container_login_screen {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  color: white;
}
.container_login_screen label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.2rem;
}
.container_login_screen span {
  margin-right: 0.5rem;
}
.container_login_input {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.5rem;
  width: 10rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
  cursor: pointer;
}
.container_login_submit {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  font-size: 1rem;
  width: 4rem;
  height: 2rem;
  box-shadow: rgba(53, 53, 53, 0.8) 0px 5px 15px;
  text-decoration: none;
  cursor: pointer;
}

input[type=text] {
  font-size: 1rem;
}

input[type=password] {
  font-size: 1rem;
}

.opinion {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}
.opinion_like-button {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  box-shadow: rgba(53, 53, 53, 0.8) 0px 5px 15px;
  text-decoration: none;
}
.opinion_like-button_activated {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  box-shadow: rgba(197, 137, 7, 0.568) 0px 5px 15px;
  text-decoration: none;
}
.opinion_dislike-button {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  box-shadow: rgba(53, 53, 53, 0.8) 0px 5px 15px;
  text-decoration: none;
}
.opinion_dislike-button_activated {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  box-shadow: rgba(211, 10, 10, 0.568) 0px 5px 15px;
  text-decoration: none;
}

.container_createPost {
  color: white;
}
.container_createPost_title {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.5rem;
  width: 20rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
  cursor: text;
}

.container_postContent_categories_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container_postContent_categories_item {
  margin-right: 0.3rem;
}
.container_postContent_comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin: 3px;
  box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Adjust the number of columns as needed */
  grid-column-gap: 1rem; /* Adjust the gap between columns as needed */
  align-items: center;
  width: 50vw;
}/*# sourceMappingURL=main.css.map */