@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", cursive;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.container_categories {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}
.container_categories_content {
  margin-left: 0.5rem;
  margin: 0;
}
.container_categories_content_item {
  margin: 0 0.3rem;
}
.container_categories_content p {
  margin: 0 0.3rem;
}
.container_categories_form {
  margin-right: auto;
  margin-bottom: auto;
  padding-bottom: 0.5rem;
}
.container_categories_form_activated {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 5rem;
  padding: 1rem;
  box-shadow: rgba(184, 158, 11, 0.8) 0px 5px 15px;
  text-decoration: none;
  cursor: pointer;
}
.container_categories_form_deactivated {
  border: transparent;
  background: transparent;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 5rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
  cursor: pointer;
}
.container_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: auto;
}
.container_menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.1rem;
  margin: 0.25rem;
  width: 10rem;
  padding: 1rem;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
  text-decoration: none;
}
.container_menu_button:first-child {
  margin-left: auto;
}
.container_menu_button:last-child {
  margin-left: auto;
}
.container_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
.container_register label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_register_categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container_register_categories_label {
  margin: 0.5rem;
}
.container_errors {
  color: white;
  margin: auto;
}
.container_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.container_content_box {
  width: 75vw;
  margin-bottom: auto;
}
.container_content_post-link {
  all: unset;
  color: white;
  cursor: pointer;
}
.container_content_post-link_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  margin: 3px;
}
.container_content_post-link_container span {
  min-width: fit-content;
}/*# sourceMappingURL=main.css.map */