@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', cursive;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
  background-image: url('../img/landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  @include flexRow;
  height: 100vh;
  color: white;
  &_categories {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    &_content {
      margin-left: 0.5rem;
      margin: 0;
      &_item{
        margin: 0 0.3rem;
      }
      p{
        margin:0 0.3rem;
      }
    }
    &_form{
      margin-right: auto;
      margin-bottom: auto;
      padding-bottom: 0.5rem;
  
      &_activated {
        border: transparent;
        background: transparent;
        color: white;
        border-radius: 0.1rem;
        margin: 0.25rem;
        width: 5rem;
        padding: 1rem;
        box-shadow: rgba(184, 158, 11, 0.8) 0px 5px 15px;
        text-decoration: none;
        cursor: pointer;
      }
      &_deactivated {
        border: transparent;
        background: transparent;
        color:white;
        border-radius: 0.1rem;
        margin: 0.25rem;
        width: 5rem;
        padding: 1rem;
        box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  &_menu {
    @include flexRow;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: auto;
    &_button {
      @include flexCol;
      color: white;
      border-radius: 0.1rem;
      margin: 0.25rem;
      width: 10rem;
      padding: 1rem;
      box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
      text-decoration: none;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &_register {
    @include flexCol;
    label {
      @include flexCol;
    }
    margin-bottom: auto;
    &_categories {
      @include flexRow;
      &_label {
        margin: 0.5rem;
      }
    }
  }
  &_errors {
    color: white;
    margin: auto;
  }
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    &_box {
      width: 75vw;
      margin-bottom: auto;
    }
    &_post-link {
      all: unset;
      color: white;
      cursor: pointer;
      &_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        margin: 3px;
        span{
          min-width: fit-content;
        }
      }
    }
  }
}
