@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', cursive;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
  background-image: url('../img/landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  @include flexCol;
  height: 100vh;
  color: white;
  &_wrapper {
    @include flexRow;
    width: 100%;
  }
  &_form{
    margin-right: auto;

    &_activated {
      border: 2px solid blue;
      background: transparent;
      color: white;
      border-radius: 0.1rem;
      margin: 0.25rem;
      width: 5rem;
      padding: 1rem;
      box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
      text-decoration: none;
    }
    &_deactivated {
      border: 2px solid red;
      background: transparent;
      color:white;
      border-radius: 0.1rem;
      margin: 0.25rem;
      width: 5rem;
      padding: 1rem;
      box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
      text-decoration: none;
    }
  }
  &_menu {
    @include flexRow;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: auto;
    &_button {
      @include flexCol;
      color: white;
      border-radius: 0.1rem;
      margin: 0.25rem;
      width: 10rem;
      padding: 1rem;
      box-shadow: rgba(255, 255, 255, 0.568) 0px 5px 15px;
      text-decoration: none;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &_register {
    @include flexCol;
    label {
      @include flexCol;
    }
    margin-bottom: auto;
    &_categories {
      @include flexRow;
      &_label {
        margin: 0.5rem;
      }
    }
  }
  &_errors {
    color: white;
    margin: auto;
  }
  &_content {
    margin-bottom: auto;
    width: 75%;
    &_post-link {
      all: unset;
      color: white;
      cursor: pointer;
      &_container {
        @include flexRow;
        justify-content: space-between;
        box-shadow: rgba(255, 255, 255, 0.664) 0px 2px 8px 0px;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        margin: 3px;
      }
    }
    &_categories {
      @include flexCol;
      flex: 1;
      justify-content: left;
      margin: 1rem 0;

      &_item{
        margin: 0 0.3rem;

      }
      p{
        margin:0 0.3rem;
      }
    }
  }
}
